<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="over" opened=false>
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-list>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">house</mat-icon> <a class="a" routerLink="/home">Home</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">person</mat-icon> <a class="a" routerLink="/profile">Perfil</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">reorder</mat-icon><a routerLink="/my-orders">Pedidos</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">local_grocery_store</mat-icon><a routerLink="/carrinho">Carrinho</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"  class="toolbar-item"><mat-icon color="accent">store</mat-icon><a routerLink="/new-shop">Estabelecimento</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"class="toolbar-item"><mat-icon color="accent">person</mat-icon><a routerLink="/courier">Entregador</a></mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="accent">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Loja</span>
      <span class="example-spacer"></span>
      <button (click)="goBack()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

    </mat-toolbar>


    <div *ngIf="currentShop">
      <div class="banner-wrapper">
        <img class="banner-wrapper__img" src="assets/banner.png">
      </div>

      <div class="header">
        <div class="header__info">
          <div style="font-size: 18px">{{currentShop.name}}</div>
          <div>
            <span class="header__small"> {{currentShop.rating.toFixed(2)}} </span>
            <span style="font-size: 12px">{{getStars()}}</span>
          </div>
          <div>
            <span class="header__small">Tempo de entrega: </span> {{currentShop.estimatedDeliveryTime}}min
          </div>
          <div>
            <span class="header__small">Taxa de entrega: </span>
            <span *ngIf="!currentShop.deliveryFee || currentShop.deliveryFee == 0;else deliveryFee" class="header__small__free">Grátis</span>
            <ng-template #deliveryFee>
               {{currentShop.deliveryFee | currency}}
            </ng-template>
          </div>
        </div>
        <mat-divider vertical="true" class="header__divider"></mat-divider>
        <div>
          <img class="header__img" src="{{currentShop.image}}">
        </div>
      </div>

      <app-shop-search [shopId]="currentShop.id" [currentShop]="currentShop" [dialog]="dialog"></app-shop-search>


      <div class="category-wrapper" *ngIf="onSaleProducts.length > 0">
        <div class="category-header-wrapper">
            <p class="category-header-wrapper__text">Promoções</p>
        </div>
        <div class="carousel-wrapper">
          <carousel class="carousel" [height]="200" [cellWidth]="166">
            <div class="carousel-cell" *ngFor="let product of onSaleProducts">
              <div class="carousel-cell__img-wrapper">
                <img class="carousel-cell__img-wrapper__img" src="{{product.imageUrl}}">
              </div>
              <div class="product-name-wrapper" matTooltip="{{product.name}}">
                <span class="product-name">{{product.name}}</span>
              </div>
              <mat-divider style="margin: 0px 8px;"></mat-divider>
              <div class="carousel-cell__button-row">
                <button (click)="removeFromCart(product)" class="carousel-cell__button" mat-icon-button color="accent">
                  <mat-icon>remove</mat-icon>
                </button>
                <div class="sale-price-wrapper">
                  <div class="sale-price-wrapper__price">{{product.price | currency}}</div>
                  <div class="sale-price-wrapper__discounted-price">{{product.price_discount | currency}}</div>
                </div>
                <button (click)="addToCart(product)" class="carousel-cell__button" mat-icon-button color="accent">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </carousel>
        </div>
      </div>

      <div class="category-wrapper" *ngIf="bestSellingProducts">
        <div class="category-header-wrapper">
          <p matTooltip="10 itens mais vendidos" class="category-header-wrapper__text">Mais Vendidos</p>
        </div>
        <div class="carousel-wrapper">
          <carousel class="carousel" [height]="200" [cellWidth]="166">
            <div class="carousel-cell" *ngFor="let product of bestSellingProducts">
              <div class="carousel-cell__img-wrapper">
                <img class="carousel-cell__img-wrapper__img" src="{{product.imageUrl}}">
              </div>
              <div class="product-name-wrapper" matTooltip="{{product.name}}">
                <span class="product-name">{{product.name}}</span>
              </div>
              <mat-divider style="margin: 0px 8px;"></mat-divider>
              <div class="carousel-cell__button-row">
                <button (click)="removeFromCart(product)" class="carousel-cell__button" mat-icon-button color="accent">
                  <mat-icon>remove</mat-icon>
                </button>
                <div class="product-price">{{product.price | currency}}</div>
                <button (click)="addToCart(product)" class="carousel-cell__button" mat-icon-button color="accent">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </carousel>
        </div>
      </div>
    </div>



      <ul>
        <li class="category-wrapper" *ngFor="let categoria of categoryProductsMap | keyvalue">
            <div class="category-header-wrapper">
              <p class="category-header-wrapper__text">{{categoria.key}}</p>

            <div class="carousel-wrapper">
              <carousel class="carousel" [height]="200" [cellWidth]="166">
                <div class="carousel-cell" *ngFor="let product of categoria.value">
                  <div class="carousel-cell__img-wrapper">
                    <img class="carousel-cell__img-wrapper__img" src="{{product.imageUrl}}">
                  </div>
                  <div class="product-name-wrapper" matTooltip="{{product.name}}">
                    <span class="product-name">{{product.name}}</span>
                  </div>
                  <mat-divider style="margin: 0px 8px;"></mat-divider>
                  <div class="carousel-cell__button-row">
                    <button (click)="removeFromCart(product)" class="carousel-cell__button" mat-icon-button color="accent">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <div class="product-price">{{product.price | currency}}</div>
                    <button (click)="addToCart(product)" class="carousel-cell__button" mat-icon-button color="accent">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </carousel>
            </div>
          </div>
        </li>
      </ul>





  </mat-sidenav-content>
</mat-sidenav-container>
