a {
  text-decoration: none !important;
  color: black;
}

.banner-wrapper{
  display: flex;
  height: 80px;
  width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.15);
  &__img{
    flex: 1 1 auto;
    object-fit: cover;
  }
}

.header{
  margin: 8px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
  border-radius: 6px;
  padding: 4px;

  &__divider{
    margin: 8px 12px;
  }

  &__info{
    flex: 1 1 auto;
    align-self: center;
    margin-left: 8px;
  }

  &__img{
    height: 64px;
    margin-right: 8px;
    margin-top: 8px
  }

  &__small {
    font-weight: bold;
    font-size: 12px;

    &__free {
      color: #4e944f;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.carousel-wrapper{
}

.carousel{
  border-radius: 12px;
  //border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.carousel-cell{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);


  &__button-row{
    display: flex;
    flex-direction: row;
    //outline: solid 1px blue;
    justify-content: space-between;
  }

  &__button{
    //outline: 1px solid red;
    //transform: scale(0.8);
  }

  &__img-wrapper{
    width: 64px;
    height: 64px;
    //outline: 1px solid blue;
    align-self: center;
    //outline: solid 1px green;

    &__img{

    }
  }
}

.product-name-wrapper{
  height: 2em;
  text-overflow: ellipsis;
  overflow: clip;
  white-space: pre-wrap;
  margin-top: 12px;
  line-height: 85%;
  text-align: center;
  margin-bottom: -2px;
}

.product-name{
  align-self: center;
  font-size: 12px;
}

.product-price{
  font-weight: bold;
  align-self: center;
}

.category-header-wrapper{
  padding: 2px;

  &__text{
    flex: 1 1 auto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    //outline: 1px solid black;
  }
}

.category-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 8px;
}

.sale-price-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;

  &__price{
    align-self: center;
    text-decoration: line-through;
  }

  &__discounted-price{
    font-weight: bold;
    align-self: center;
    color: #4e944f;
  }
}
