.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__buttons {
    margin: (6px 12px 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
  }
}

.button{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-center{
  text-justify: distribute;
  flex: 1 1 auto;
}

.text-wrapper{
  align-self: center;
  text-align: center;
}
