.cart-container {
    height: 50%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
    margin: 10px;
  }
  
  table {
    width: 100%;
    text-align: center;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
    text-align: right;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }

.quantidade-container {
    width: 20%;
    text-align: center;
}

.titulo-container {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.p_font{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.mat-radio-button {
  margin: 10px;
}

.botao{
  &__comprar{
    @extend .botao;
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
  }
}

.imagem{
  display: center;
  width: 50px;
  margin-right: 20px;
}

.title-wrapper{
  background: rgba(232, 232, 232, 0.5);
  display: flex;
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.shop-container {
  margin: 10px;
  display: flex;
  flex-direction: row;

  &__logo {
    height: 4em;
    margin: 0px 5px;
  }
}

.wrappers {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px;
}