mat-action-list{
    overflow: auto !important;
    height: 250px;
}
.selected{
    background: rgba(194, 194, 194, 0.5) !important;
}

.not-selected{
    background: rgba(255, 255, 255, 0.5) !important;
}

.botao{
    flex: 1;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.botao:hover,
.botao:focus,
.botao:active {
  transform: scale(1.1);
}

h1{
    text-align: center;
  }