
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 15px;
}

.titulo {
  bold: true;
  font-size: 30px;
  text-align: center;
  align-items: center;
  font-family: "Ubuntu Light";
  text-transform: capitalize;
}

.formulario {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.esqueci-senha{
  text-align: right;
  font-style: italic;
  color: cornflowerblue;
  margin-top: 15px;
  margin-bottom: 15px;

}

.form-field {

  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  //color: var(--primary);
  color: var(--borders);

  &__label {
    color: inherit;
    margin-bottom: 4px;
    font-size: 18px;
  }

  &__input {
    padding: 8px;
    border-radius: 4px;

    outline-color: var(--primary-color);
    border: 1px solid;

  }
}

.botao-wrapper {
  display: flex;
}

.botao {
  flex: 1;
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  transition: opacity 0.2s;

  &__cadastrar {
    @extend .botao;
    margin-right: 30px;
    margin-left: 0px;
  }

  &__entrar {
    @extend .botao;
    margin-right: 0px;
    margin-left: 30px;
  }

  &:hover {
    box-shadow: 1px 1px var(--secondary), 2px 2px var(--secondary), 3px 3px var(--secondary);
    transform: translateX(-3px);
    opacity: 0.9;

  }
}

