a{
  text-decoration: none !important;
  color: black;
}

.mat-progress-bar{
  height: 4px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: rgba(54, 141, 54, 0.68);
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.mat-tab-badge{
  margin-left: 18px;
}

.rate-wrapper{
  display: flex;
  padding: 8px;
  //margin: 0px 72px;
  justify-content: center;


  &__button{
    width: 128px;
    border-radius: 18px;

  }
}

.grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;

  &__left-tile{
    padding: 4px;
    flex-grow: 1;

  }

  &__right-tile{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-content: center;
    align-items: center;

    &__estimatedTime{
      font-size: 20px;
      text-align: center;
    }
  }
}

.order-container{
  margin: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
  border-radius: 4px;
  background: #ffffff;

  &__header{
    margin: 8px;
    padding: 5px;
    &__title{
      font-size: 18px;
      font-family: Ubuntu;
      font-weight: bold;
      color: black;
    }
  }
}

.scrollable-container{
  width: auto;
  height: 80vh;
  overflow: hidden;
  margin: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  //box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &__inner{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;

  }
}
