<section class="main">


  <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        Ativos
        <div class="mat-tab-badge" matBadge="{{activeOrdersSize}}" matBadgeColor="accent"></div>
      </ng-template>
      <div class="scrollable-container">
        <ul class="scrollable-container__inner">
          <li *ngFor="let order of (activeOrders$ | async)">
            <a routerLink="/detail/{{order.id}}">
              <div class="order-container">
                <div class="order-container__header">
                  <span class="order-container__header__title">Pedido: {{order.id}}</span>
                  <mat-progress-bar mode="determinate" value="{{getProgressValue(order)}}"></mat-progress-bar>
                  <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>


                <div class="grid">
                  <div class="grid__left-tile">
                    <div>
                      <span style="font-weight: bold">Status: </span>
                      {{getOrderStatus(order)}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Loja: </span>
                      {{order.shopName}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Entregar em: </span>
                      {{order.deliveryLocation.address}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Valor: </span>
                      {{getOrderCost(order)  | currency}}
                    </div>
                  </div>
                  <mat-divider vertical="true"></mat-divider>
                  <div class="grid__right-tile">

                    <div *ngIf="order.status != 'FINISHED'; else finishedOrder">
                      <div style="font-weight: bold">Chega em:</div>
                      <div class="grid__right-tile__estimatedTime">
                        {{getEstimatedMinutes(order)}} min.
                      </div>
                    </div>
                    <ng-template #finishedOrder>
                      <div style="font-weight: bold">Pedido</div>
                      <div style="font-weight: bold">entregue</div>
                    </ng-template>


                  </div>
                </div>

              </div>
            </a>
          </li>
        </ul>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Agendados
        <div class="mat-tab-badge" matBadge="{{scheduledOrdersSize}}" matBadgeColor="accent"></div>
      </ng-template>
      <div class="scrollable-container">
        <ul class="scrollable-container__inner">
          <li *ngFor="let order of (scheduledOrders$ | async)">
            <a routerLink="/detail/{{order.id}}">
              <div class="order-container">
                <div class="order-container__header">
                  <span class="order-container__header__title">Pedido: {{order.id}}</span>
                  <mat-progress-bar mode="determinate" value="{{getProgressValue(order)}}"></mat-progress-bar>
                  <mat-divider></mat-divider>
                </div>
                <mat-divider></mat-divider>


                <div class="grid">
                  <div class="grid__left-tile">
                    <div>
                      <span style="font-weight: bold">Status: </span>
                      {{getOrderStatus(order)}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Loja: </span>
                      {{order.shopName}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Entregar em: </span>
                      {{order.deliveryLocation.address}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Valor: </span>
                      {{getOrderCost(order) | currency}}
                    </div>
                  </div>
                  <mat-divider vertical="true"></mat-divider>
                  <div class="grid__right-tile">

                    <div *ngIf="order.status != 'FINISHED'; else finishedOrder">
                      <div style="font-weight: bold; text-align: center">Agendado:</div>
                      <div class="grid__right-tile__estimatedTime">
                        {{getScheduledDate(order)}}
                      </div>
                    </div>
                    <ng-template #finishedOrder>
                      <div style="font-weight: bold">Pedido</div>
                      <div style="font-weight: bold">entregue</div>
                    </ng-template>


                  </div>
                </div>

              </div>
            </a>
          </li>
        </ul>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Finalizados
        <div class="mat-tab-badge" matBadge="{{finishedOrdersSize}}" matBadgeColor="accent"></div>
      </ng-template>
      <div class="scrollable-container">
        <ul class="scrollable-container__inner">
          <li *ngFor="let order of (finishedOrders$ | async)" class="order-container">
            <a routerLink="/detail/{{order.id}}">
              <div >
                <div class="order-container__header">
                  <span class="order-container__header__title">Pedido: {{order.id}}</span>
                </div>
                <mat-divider></mat-divider>


                <div class="grid">
                  <div class="grid__left-tile">
                    <div>
                      <span style="font-weight: bold">Status: </span>
                      {{getOrderStatus(order)}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Loja: </span>
                      {{order.shopName}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Entregar em: </span>
                      {{order.deliveryLocation.address}}
                    </div>
                    <div>
                      <span style="font-weight: bold">Valor: </span>
                      {{getOrderCost(order) | currency}}
                    </div>
                  </div>
                  <mat-divider vertical="true"></mat-divider>
                  <div class="grid__right-tile">

                    <div *ngIf="order.status != 'FINISHED'; else finishedOrder">
                      <div style="font-weight: bold; text-align: center">Agendado:</div>
                      <div class="grid__right-tile__estimatedTime">
                        {{getScheduledDate(order)}}
                      </div>
                    </div>
                    <ng-template #finishedOrder>
                      <div style="font-weight: bold">Pedido</div>
                      <div style="font-weight: bold">entregue</div>
                    </ng-template>
                  </div>
                </div>


              </div>
            </a>
            <mat-divider></mat-divider>
            <div class="rate-wrapper">
              <button class="rate-wrapper__button" mat-raised-button color="accent" (click)="rateOrder(order)">Avaliar</button>
            </div>
          </li>
        </ul>
      </div>
    </mat-tab>

  </mat-tab-group>




</section>
