<section class="wrapper">
  <div class="header">
    <span class="header__product-name">{{data.productName}}</span>


  </div>
  <mat-divider></mat-divider>


  <div class="buttons-wrapper">
    <button mat-icon-button color="accent" class="buttons-wrapper__buttons">
      <mat-icon>remove</mat-icon>
    </button>

    <mat-form-field appearance="outline" class="buttons-wrapper__field">
      <mat-label>Quantidade</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-icon-button color="accent" class="buttons-wrapper__buttons">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="buttons-wrapper-bottom">
    <button mat-raised-button color="accent">Cancelar</button>

    <button mat-raised-button color="accent">Ok</button>

  </div>



</section>
