<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="over" opened=false>
      <mat-toolbar color="accent">Menu</mat-toolbar>
      <mat-list>
        <mat-list-item class="toolbar-item"><mat-icon color="accent">house</mat-icon> <a routerLink="/home">Home</a></mat-list-item>
        <mat-list-item class="toolbar-item"><mat-icon color="accent">reorder</mat-icon><a routerLink="/my-orders">Pedidos</a></mat-list-item>
        <mat-list-item class="toolbar-item"><mat-icon color="accent">store</mat-icon><a routerLink="/new-shop">Estabelecimento</a></mat-list-item>
        <mat-list-item class="toolbar-item"><mat-icon color="accent">local_grocery_store</mat-icon><a routerLink="/carrinho">Carrinho</a></mat-list-item>
        <mat-list-item class="toolbar-item"><mat-icon color="accent">person</mat-icon><a routerLink="/courier">Entregador</a></mat-list-item>
      </mat-list>
  
    </mat-sidenav>
  
    <mat-sidenav-content>
  
      <mat-toolbar color="accent">
        <button (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon" class="example-icon"
                mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Avaliação</span>
        <span class="example-spacer"></span>
  
      </mat-toolbar>
    <section class="main">
        <div class="wrappers">
            <div class="shop-container" *ngIf="shop">
                <div>
                <img class="shop-container__logo" src="{{shop.image}}">
                </div>
                <div>
                  <div>
                  <span style="font-weight: bold">Pedido: </span> {{order.id}}
                  </div>
                  <div>
                      <span style="font-weight: bold">Entregador: </span> {{order.courierName}}
                  </div>
                  <div>
                    <span style="font-weight: bold">Loja: </span> {{shop.name}}
                  </div>
                </div>
            </div>          
        </div>
        <div class="wrappers" >
          <div class="wrappers" style="margin: 10px">
            <span class="stars">Produtos:</span> 
            <div class="col-sm-12" align="center" style="font-size: 25px">
                <ul class="list-inline rating-list"
                    *ngFor="let star of stars">
                      <li (click)="countStar(star, 'produtos')"
                          [ngClass]="{'selected': (star <= stars_produtos)}">
                        <i class="fa fa-star"></i>
                      </li> 
                </ul>
              </div>     
          </div>
          <div class="wrappers" style="margin: 10px">
            <span class="stars">Entrega:</span> 
            <div class="col-sm-12" align="center" style="font-size: 25px">
                <ul class="list-inline rating-list"
                    *ngFor="let star of stars">
                      <li (click)="countStar(star, 'entrega')"
                          [ngClass]="{'selected': (star <= stars_entrega)}">
                        <i class="fa fa-star"></i>
                      </li> 
                </ul>
              </div>     
          </div>
          <div class="wrappers" style="margin: 10px">
            <span class="stars">Estabelecimento:</span> 
            <div class="col-sm-12" align="center" style="font-size: 25px">
                <ul class="list-inline rating-list"
                    *ngFor="let star of stars">
                      <li (click)="countStar(star, 'estabelecimento')"
                          [ngClass]="{'selected': (star <= stars_estabelecimento)}">
                        <i class="fa fa-star"></i>
                      </li> 
                </ul>
              </div>     
          </div>
        </div>
        <div class="wrappers">
          <div class="wrappers" style="margin: 10px">
            <form class="comment" [formGroup]="newCommentForm">
              <mat-form-field class="form_field_comment" appearance="fill">
                <mat-label>Deixe um comentário</mat-label>
                <textarea matInput formControlName="comment" rows="8" #input maxlength="80" placeholder="Ex. Gostei dos produtos..."></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/80</mat-hint>
              </mat-form-field>
            </form>   
          </div>
        </div>
        <div class="wrappers">
          <button (click)="submit_rate()" class="botao" mat-raised-button color="accent" type="submit">Confirmar</button> 
        </div>
    </section>
</mat-sidenav-content>
</mat-sidenav-container>
