mat-action-list{
  overflow: auto !important;
  height: 250px;
}

.titulo-container {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.product-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  
    &__logo {
      height: 4em;
      margin: 0px 5px;
    }
  }

  .botao{
    flex: 1;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    border: 1px solid darkgrey;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.botao:hover,
.botao:focus,
.botao:active {
  transform: scale(1.1);
}

h1{
  text-align: center;
}

.wrappers {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}