
a {
  text-decoration: none !important;
}

.logo{
  height: 64px;
  margin-right: 8px;
  margin-top: 8px
}

.formulario {
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.new-user-form{
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;

  &__form-field{


    &__termos{
      font-size: 12px;
      height: 80px;
      resize: none;
      text-align: justify;

      &__label{
        font-size: 18px;
        margin-bottom:1px;
      }
    }
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__side{
    flex-wrap: nowrap;
    display: inline-flex;
    margin-bottom: 10px;

    &__l{
      min-width: 0;
      flex: 1 1 auto;
      margin-right: 5px;
    }

    &__r{
      min-width: 0;
      flex: 1 1 auto;
      margin-left: 5px;

    }
  }
}


.erro{
  color: black;

  &__termos{

    margin-top: -12px;
    margin-left: 24px;
    font-size: 12px;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

}

.checkboxWrapper{
  flex: 1 1 auto;
}

.botao {

  flex: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.botao-wrapper{
  display:flex;
  flex: 1;

}
