<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="over" opened=false>
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-list>
      <mat-list-item class="toolbar-item" (click)="goHome()"><mat-icon color="accent">house</mat-icon> <a class="a" >Home</a></mat-list-item>
      <mat-list-item class="toolbar-item" (click)="gotoProfile()"><mat-icon color="accent">person</mat-icon> <a class="a" >Perfil</a></mat-list-item>
      <mat-list-item class="toolbar-item" (click)="goToOrders()"><mat-icon color="accent">reorder</mat-icon><a >Pedidos</a></mat-list-item>
      <mat-list-item class="toolbar-item" (click)="gotoCart()"><mat-icon color="accent">local_grocery_store</mat-icon><a >Carrinho</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"  class="toolbar-item" (click)="gotoShop()"><mat-icon color="accent">store</mat-icon><a >Estabelecimento</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"class="toolbar-item" (click)="gotoCourier()"><mat-icon color="accent">person</mat-icon><a>Entregador</a></mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="accent">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Produtos</span>
      <span class="example-spacer"></span>
      <button (click)="goBackArrow()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

    <div *ngIf="edit ; else cadastro">
      <div *ngIf="productSelected ; else selecionarProduto">

        <form class="new-user-form" [formGroup]="newProductForm" (ngSubmit)="updateProduct()">

          <div class="new-user-form__side">
            <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name">

            </mat-form-field>

          </div>

          <div class="new-user-form__side">
            <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
              <mat-label>Código de barras</mat-label>
              <input matInput formControlName="barcode">

            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category">
              <mat-option value="Bebidas">Bebidas</mat-option>
              <mat-option value="Carnes">Açougue</mat-option>
              <mat-option value="Esportes">Esportes</mat-option>
              <mat-option value="Ferramentas">Ferramentas</mat-option>
              <mat-option value="Hortifruti">Hortifruti</mat-option>
              <mat-option value="Frios">Frios</mat-option>
              <mat-option value="Limpeza">Limpeza</mat-option>
              <mat-option value="Higiene">Higiene</mat-option>
              <mat-option value="Mercearia">Mercearia</mat-option>
              <mat-option value="Padaria">Padaria</mat-option>
              <mat-option value="Pet">Pet</mat-option>
              <mat-option value="Bazar">Bazar</mat-option>
              <mat-option value="Enlatados">Enlatados</mat-option>
              <mat-option value="Bomboniere">Bomboniere</mat-option>
              <mat-option value="Biscoitos">Biscoitos</mat-option>
              <mat-option value="Congelados">Congelados</mat-option>

            </mat-select>
          </mat-form-field>

          <div class="new-user-form__side">
            <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="quantity">

            </mat-form-field>
          </div>

          <div class="new-user-form__side">
            <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
              <mat-label>Preço</mat-label>
              <input matInput type="" formControlName="price">

            </mat-form-field>
          </div>

          <div class="new-user-form__side">
            <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
              <mat-label>Preço com Desconto</mat-label>
              <input matInput type="" formControlName="priceDiscount">

            </mat-form-field>
          </div>

          <div class="botao-wrapper">
            <button type="button" class="botao" mat-raised-button color="accent" (click)="goBack()" >Voltar</button>
            <mat-divider class="example-spacer" [vertical]="true"></mat-divider>
            <button type="submit" class="botao" mat-raised-button color="accent" >Atualizar</button>

          </div>

        </form>

      </div>

      <ng-template #selecionarProduto>
        <form class="new-user-form" >
          <mat-divider></mat-divider>
          <mat-action-list>
            <mat-list-item *ngFor="let product of shop.products" (click)="selectProduct(product)">
              <img src="{{product.imageUrl}}" matListAvatar alt="">
              <div matLine>
                <span style="font-weight: bold">Produto:</span>
                {{product.name}}
              </div>
              <div matLine>
                <span style="font-weight: bold">Código de Barras:</span>
                {{product.barcode}}
              </div>
              <div matLine>
                <span style="font-weight: bold">Quantidade:</span>
                {{product.quantity}}
              </div>
              <div matLine>
                <span style="font-weight: bold">Preço:</span>
                {{product.price | currency}}
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-action-list>



        </form>




      </ng-template>


    </div>
    <ng-template #cadastro>
      <form class="new-user-form" [formGroup]="newProductForm" (ngSubmit)="onSubmit()">

        <div class="new-user-form__side">
          <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">

          </mat-form-field>

        </div>

        <div class="new-user-form__side">
          <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
            <mat-label>Código de barras</mat-label>
            <input matInput [mask]="getMask('barcode')" formControlName="barcode">

          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="Bebidas">Bebidas</mat-option>
            <mat-option value="Carnes">Açougue</mat-option>
            <mat-option value="Esportes">Esportes</mat-option>
            <mat-option value="Ferramentas">Ferramentas</mat-option>
            <mat-option value="Hortifruti">Hortifruti</mat-option>
            <mat-option value="Frios">Frios</mat-option>
            <mat-option value="Limpeza">Limpeza</mat-option>
            <mat-option value="Higiene">Higiene</mat-option>
            <mat-option value="Mercearia">Mercearia</mat-option>
            <mat-option value="Padaria">Padaria</mat-option>
            <mat-option value="Pet">Pet</mat-option>
            <mat-option value="Bazar">Bazar</mat-option>
            <mat-option value="Enlatados">Enlatados</mat-option>
            <mat-option value="Bomboniere">Bomboniere</mat-option>
            <mat-option value="Biscoitos">Biscoitos</mat-option>
            <mat-option value="Congelados">Congelados</mat-option>

          </mat-select>
        </mat-form-field>

        <div class="new-user-form__side">
          <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
            <mat-label>Quantidade</mat-label>
            <input matInput formControlName="quantity">

          </mat-form-field>
        </div>

        <div class="new-user-form__side">
          <mat-form-field class="new-user-form__side__l" appearance="outline" floatLabel="always">
            <mat-label>Preço</mat-label>
            <input matInput prefix="R$ " [mask]="getMask('price')" type="" formControlName="price">

          </mat-form-field>
        </div>

        <div class="botao-wrapper">
          <button type="submit" class="botao" mat-raised-button color="accent" >Cadastrar</button>
        </div>

      </form>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
