<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="over" opened=false>
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-list class="teste-lista">
      <mat-list-item class="toolbar-item"><mat-icon color="accent">house</mat-icon> <a class="a" routerLink="/home">Home</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">person</mat-icon> <a class="a" routerLink="/profile">Perfil</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">reorder</mat-icon><a routerLink="/my-orders">Pedidos</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">local_grocery_store</mat-icon><a routerLink="/carrinho">Carrinho</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"  class="toolbar-item"><mat-icon color="accent">store</mat-icon><a routerLink="/new-shop">Estabelecimento</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"class="toolbar-item"><mat-icon color="accent">person</mat-icon><a routerLink="/courier">Entregador</a></mat-list-item>


    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="accent">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Home</span>
      <span class="example-spacer"></span>
      <button (click)=exit() mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar>

    <div class="search-box">
      <app-search-home (search_bool)="setViewHome($event)"></app-search-home>
    </div>

    <div *ngIf="view_home" class="main" >
      <div class="title-wrapper">
        <h2 class="title">Promoções</h2>
      </div>


      <div class="carousel-wrapper">
        <carousel class="carousel" [autoplay]="true" [height]="170" [cellWidth]="150" [autoplayInterval]="5000">
          <div class="carousel-cell" *ngFor="let product of products_discount">
            <div>
              <div class="image-item">
                <img src="{{product[0].imageUrl}}">
              </div>
              <div align="center">
                <div  >
                  <div style="font-weight: bold" matTooltip={{product[0].name}} matTooltipPosition="below" class="product-name">{{product[0].name}}</div>
                  <span style="text-decoration: line-through">{{product[0].price | currency}}</span>
                  <span style="font-weight: bold; color: green">
                    {{product[0].price_discount | currency}}
                  </span>
                </div>
                <button (click)="compareProduct(product[0])" class="botao-comparar" mat-raised-button color="accent">
                  <mat-icon>compare_arrows</mat-icon>
                </button>
                <button (click)="addCart(product[1],product[0])" class="botao-comprar" mat-raised-button>
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </carousel>
      </div>





      <div class="title-wrapper">
        <h2 class="title">Estabelecimentos</h2>
      </div>

      <div>
        <app-list-shops>

        </app-list-shops>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>









