<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="over" opened=false>
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-list class="teste-lista">
      <mat-list-item class="toolbar-item"><mat-icon color="accent">house</mat-icon> <a class="a" routerLink="/home">Home</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">person</mat-icon> <a class="a" routerLink="/profile">Perfil</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">reorder</mat-icon><a routerLink="/my-orders">Pedidos</a></mat-list-item>
      <mat-list-item class="toolbar-item"><mat-icon color="accent">local_grocery_store</mat-icon><a routerLink="/carrinho">Carrinho</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"  class="toolbar-item"><mat-icon color="accent">store</mat-icon><a routerLink="/new-shop">Estabelecimento</a></mat-list-item>
      <mat-list-item *ngIf="profileType == 'CUSTOMER'"class="toolbar-item"><mat-icon color="accent">person</mat-icon><a routerLink="/courier">Entregador</a></mat-list-item>


    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="accent">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Home</span>
      <span class="example-spacer"></span>
      <button (click)=exit() mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar>


    <section class="main">

      <div class="title-wrapper">
        <h2 class="title"> Promoções </h2>
      </div>

      <div>

        <carousel class="carousel" [autoplay]="true" [height]="170" [cellWidth]="150" [autoplayInterval]="5000">
          <div class="carousel-cell" *ngFor="let product of products">
            <div>
              <div class="image-item">
                <img src="{{product[0].imageUrl}}">
              </div>        
              <div align="center">
                <div style="font-weight: bold" >
                  <div matTooltip={{product[0].name}} matTooltipPosition="below" class="product-name">{{product[0].name}}</div>
                  <span style="text-decoration: line-through">{{product[0].price | currency}}</span> {{product[0].price_discount | currency}}
                </div>
                <button (click)="compareProduct(product[0])" class="botao-comparar" mat-raised-button color="accent">
                  <mat-icon>compare_arrows</mat-icon>
                </button>
                <button (click)="addCart(product[1],product[0])" class="botao-comprar" mat-raised-button>
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </carousel>
      </div>

      <div class="title-wrapper">
        <h2 class="title"> Categorias </h2>
      </div>

      <div>
        <mat-grid-list class="grid" cols="4" rowHeight="2:1" gutterSize="5px">
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/carnes.png">
              <mat-label for="categoria__label" class="categoria__label">Carnes</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/pet.png">
              <mat-label for="categoria__label" class="categoria__label">Pet</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/laticinios.png">
              <mat-label for="categoria__label" class="categoria__label">Laticínios</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/bebidas.png">
              <mat-label for="categoria__label" class="categoria__label">Bebidas</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/hortifruti.png">
              <mat-label for="categoria__label" class="categoria__label">Hortifruti</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/ferramentas.png">
              <mat-label for="categoria__label" class="categoria__label">Ferramentas</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/enlatados.png">
              <mat-label for="categoria__label" class="categoria__label">Enlatados</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="../../assets/categorias/bomboniere.png">
              <mat-label for="categoria__label" class="categoria__label">Bomboniere</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/biscoitos.png">
              <mat-label for="categoria__label" class="categoria__label">Biscoitos</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/limpeza.png">
              <mat-label for="categoria__label" class="categoria__label">Limpeza</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">
            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/esportes.png">
              <mat-label for="categoria__label" class="categoria__label">Esportes</mat-label>
            </a>
          </mat-grid-tile>
          <mat-grid-tile class="tile">

            <a href="/home" class="categoria">
              <img class="categoria__logo" src="assets/categorias/padaria.png">
              <mat-label for="categoria__label" class="categoria__label">Padaria</mat-label>
            </a>
          </mat-grid-tile>
        </mat-grid-list>


      </div>


      <div class="title-wrapper">
        <h2 class="title"> Estabelecimentos </h2>
      </div>

      <div>
        <app-list-shops>

        </app-list-shops>
      </div>

    </section>

  </mat-sidenav-content>
</mat-sidenav-container>









